# POP3S proxy default configuration
#
server
{
    ${mail.listen.pop3s.default}
    protocol            pop3;
    proxy               on;
    timeout             ${mail.pop3.timeout};
    proxy_timeout       ${mail.pop3.proxytimeout};
    ssl                 on;
    ssl_certificate     ${ssl.crt.default};
    ssl_certificate_key ${ssl.key.default};
    sasl_service_name   "pop";
}

