!{explode domain(vhn)}
# POP3S proxy configuration
#
server
{
    server_name         ${vhn};
    ${mail.listen.pop3s.vhost}
    protocol            pop3;
    proxy               on;
    timeout             ${mail.pop3.timeout};
    proxy_timeout       ${mail.pop3.proxytimeout};
    ssl                 on;
    ssl_certificate     ${ssl.crt};
    ssl_certificate_key ${ssl.key};
    sasl_service_name   "pop";
}

