!{explode domain(vhn)}
# IMAPS proxy configuration
# 
server
{
    server_name         ${vhn};
    ${mail.listen.imaps.vhost}
    protocol            imap;
    proxy               on;
    timeout             ${mail.imap.timeout};
    proxy_timeout       ${mail.imap.proxytimeout};
    ssl                 on;
    ssl_certificate     ${ssl.crt};
    ssl_certificate_key ${ssl.key};
    sasl_service_name   "imap";
}

