!{explode domain(vhn)}
# POP3 proxy configuration
#
server
{
    server_name             ${vhn};
    ${mail.listen.pop3.vhost}
    protocol                pop3;
    proxy                   on;
    timeout                 ${mail.pop3.timeout};
    proxy_timeout           ${mail.pop3.proxytimeout};
    sasl_service_name       "pop";
    starttls                ${mail.pop3.tls};
    ssl_certificate         ${ssl.crt};
    ssl_certificate_key     ${ssl.key};
}


