# NGINX POP/IMAP proxy configuration file for use with Zimbra
# 

working_directory ${core.workdir};
include ${core.includes}/${core.cprefix}.main;
include ${core.includes}/${core.cprefix}.memcache;
${lookup.available}include ${core.includes}/${core.cprefix}.zmlookup;
${lookup.available}${mail.enabled}include ${core.includes}/${core.cprefix}.mail;
${web.available}${web.enabled}include ${core.includes}/${core.cprefix}.web;

# Don't edit the below comment
