!{explode domain(vhn)}
# IMAPS proxy configuration
#
server
{
    server_name         ${vhn};
  ${core.ipboth.enabled}listen       ${vip}${mail.imaps.port} ssl;
[::]: [::]: [::]:$[::]:{[::]:c[::]:o[::]:r[::]:e[::]:.[::]:i[::]:p[::]:b[::]:o[::]:t[::]:h[::]:.[::]:e[::]:n[::]:a[::]:b[::]:l[::]:e[::]:d[::]:}[::]:l[::]:i[::]:s[::]:t[::]:e[::]:n[::]: [::]: [::]: [::]: [::]: [::]: [::]: [::]:$[::]:{[::]:v[::]:i[::]:p[::]:}[::]:$[::]:{[::]:m[::]:a[::]:i[::]:l[::]:.[::]:i[::]:m[::]:a[::]:p[::]:s[::]:.[::]:p[::]:o[::]:r[::]:t[::]:}[::]: [::]:s[::]:s[::]:l[::]:;[::]:
[::]:    ${core.ipv4only.enabled}listen            ${vip}${mail.imaps.port} ssl;
    ${core.ipv6only.enabled}listen            ${vip}${mail.imaps.port} ssl;
    protocol            imap;
    proxy               on;
    timeout             ${mail.imap.timeout};
    proxy_timeout       ${mail.imap.proxytimeout};
    ssl_certificate     ${ssl.crt};
    ssl_certificate_key ${ssl.key};
    sasl_service_name   "imap";
}

